<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/kendo")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/kendo")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>


                @Html.ActionLink("Application name", "Index", "Home", null, new { @class = "brand" })
                <div class="nav-collapse collapse">
                    <ul  id="MainMenu" class="nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                       
                    
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li>@Html.ActionLink("View All tickets", "Index", "Tickets")</li>
                            <li>@Html.ActionLink("Add Ticket", "Create", "Tickets")</li>
                        }
                        @if(User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                        { 
                            <li>
                                Adminnistration
                                <ul>
                                    <li>@Html.ActionLink("Edit Category", "Index", "AdministrationCategories")</li>
                                    <li>@Html.ActionLink("Edit Comments", "Index", "AdministrationComments")</li>          
                                </ul>
                            </li>
                        }
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My Ticketing System</p>
        </footer>
    </div>
    <script type="text/javascript">
        $("#MainMenu").kendoMenu();
    </script>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
