@using Microsoft.AspNet.Identity;
@using TwitterCopy.Models;

@model TwitterCopy.Models.ApplicationUser
@{
    string title = User.Identity.Name + " (" + User.Identity.Name + ") on Twitter Copy";
    ViewBag.Title = title;
}

@section NavLinks{
    <div class="module">
        <ul class="nav nav-pills nav-stacked">
            <li class="active">
                <a href="">Tweets</a>
            </li>
            <li>
                @Html.ActionLink("Following", "Followings", "home")
            </li>
            <li>
                @Html.ActionLink("Followers", "Followers", "home")
            </li>
        </ul>
    </div>
}

@if (User.Identity.GetUserId() != Model.Id)
{
    @section TweetToUser{
        <div class="module">
            <div class="module-inner">
                <p><strong>Tweet to @Model.UserName</strong></p>
                @Html.Partial("_CreateTweetForm", new CreateTweetViewModel())
            </div>
        </div>
    }
}

@section RandomUsers {
    <div class="module">
        <div class="module-inner">
            @Html.Partial("_RandomUsersPartial")
        </div>
    </div>
}

@section ProfileHeader{
    @Html.Partial("_ProfileHeaderPartial", Model)
}

@section ListItems{
    <div class="module">
        @Html.Action("listTweets", "tweet")
    </div>
}

@section Scripts{
    <script>
        $(function () {
            $(".active").on("click", function (event) {
                event.preventDefault();
            });

            $("#tweetTextArea").val("@@" + "@Model.UserName ");
        });
    </script>
}
