@model IEnumerable<AspNetMvcExam.Models.Comment>

@{
    ViewBag.Title = "Index";
}

<h2>Idministration Comments</h2>


<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.Ticket.AuthorId)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.User.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @*<td>
            @Html.DisplayFor(modelItem => item.Ticket.AuthorId)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.User.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Content)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
