@using Microsoft.AspNet.Identity;
@model TwitterCopy.Models.ApplicationUser
@{
    string title = User.Identity.Name + " (" + User.Identity.Name + ") on Twitter Copy";
    ViewBag.Title = title;
}

@section NavLinks{
    <ul class="nav nav-pills nav-stacked">
        <li>
            <a href="@User.Identity.Name">Tweets</a>
        </li>
        <li class ="active">
            @Html.ActionLink("Following", "Followings", "home")
        </li>
        <li>
            @Html.ActionLink("Followers", "Followers", "home")
        </li>
    </ul>
}

@section RandomUsers {
    @Html.Partial("_RandomUsersPartial")
}

@section ProfileHeader{
    @Html.Partial("_ProfileHeaderPartial", Model)
}

@section ListItems{
    @Html.Action("ListFollowings", "user")
}

@section Scripts{
    <script>
        $(function () {
            $(".active").on("click", function (event) {
                event.preventDefault();
            })
        })
    </script>
}