@using Microsoft.AspNet.Identity;
@model TwitterCopy.Models.ApplicationUser
@{
    string title = User.Identity.Name + " (" + User.Identity.Name + ") on Twitter Copy";
    ViewBag.Title = title;
}


@section NavLinks{
    <div class="module">
        <ul class="nav nav-pills nav-stacked">
            <li>
                <a href="@User.Identity.Name">Tweets</a>
            </li>
            <li class="active">
                @Html.ActionLink("Following", "Followings", "home")
            </li>
            <li>
                @Html.ActionLink("Followers", "Followers", "home")
            </li>
        </ul>
    </div>
}

@section RandomUsers {
    <div class="module">
        @Html.Partial("_RandomUsersPartial")
    </div>
}

@section ProfileHeader{
    <div class="module">
        @Html.Partial("_ProfileHeaderPartial", Model)
    </div>
}

@section ListItems{
    <div class="module">
        @Html.Action("ListFollowings", "user")
    </div>
}

@section Scripts{

}
