@using Microsoft.AspNet.Identity
@using TwitterCopy.Models;

@model TwitterCopy.Models.ApplicationUser
@{
    ViewBag.Title = "Home Page";
    
}

@section  MiniProfile {
    <div class="module">
        @Html.Partial("_AccountSummary")
        <div class="row">
            <ul class="nav navbar-nav stats">
                <li>
                    <a href="@Url.Action("index", User.Identity.GetUserName())">
                        <strong> @Model.Tweets.Count</strong>
                        Tweets
                    </a>
                </li>
                <li>
                    <a href="@Url.RouteUrl("Followings")">
                        @Model.Followings.Count
                        Followings
                    </a>
                </li>
                <li>
                    <a href="@Url.RouteUrl("Followers")">
                        @Model.Followers.Count
                        Followers
                    </a>
                </li>
            </ul>
        </div>

        <div class="row">
            @Html.Partial("_CreateTweetForm", new CreateTweetViewModel())
        </div>
    </div>
}

@section RandomUsers {

    <div class="module">
        @Html.Partial("_RandomUsersPartial")
    </div>

}

@section ListItems {

    <div class="module row">
        @Html.Action("listTweets", "tweet")
    </div>

}

@Html.ActionLink("search", "suggestions", "user")

<a href="/Contests" class="dropdown-toggle" data-toggle="dropdown">
    Contests
    <strong class="caret"></strong>
</a>
<ul class="dropdown-menu">
    <li><a href="/Contests">All</a></li>
    <li><a href="/Contests">All</a></li>
    <li><a href="/Contests">All</a></li>
    <li><a href="/Contests">All</a></li>
    <li class="divider"></li>
    <li><a href="/Contests">All</a></li>
</ul>