<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Twitter Copy" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <i class=""></i>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        @Html.ActionLink("Home", "Index", "Home", null, new { @class = "glyphicon glyphicon-home" })
                    </li>
                    <li>@Html.RouteLink("Connect", "MentionsRoute", null, new { @class = "glyphicon glyphicon-time" })</li>
                    <li>@Html.RouteLink("Discover", "WhoToFollowRoute", null, new { @class = "glyphicon glyphicon-search" })</li>
                    <li>
                        @Html.ActionLink("Me", "index", "user", new { username = User.Identity.Name }, new { @class = "glyphicon glyphicon-user" })
                    </li>

                </ul>
                
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Twitter Copy Application</p>
        </footer>
    </div>
    <!-- Modal -->
    @RenderSection("scripts", required: false)
</body>
</html>

<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <h3 class="modal-title" id="global-tweet-dialog-header">Compose new Tweet</h3>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    </div>
    <div class="modal-body">
        @Html.Partial("_CreateTweetForm", new TwitterCopy.Models.CreateTweetViewModel())
    </div>
</div>