@using Microsoft.AspNet.Identity
@using TwitterCopy.Models;

@{
    Layout = "_Layout.cshtml";
}

<div class="row">

    <div class="col-md-4 sidebar">

        @RenderSection("NavLinks", false)

        @RenderSection("MiniProfile", false)

        @RenderSection("TweetToUser", false)

        @RenderSection("RandomUsers", false)

        <footer class="module user-footer">
            <div class="module-inner">
                <ul>
                    <li class="copyright-item">
                        &copy; @DateTime.Now.Year Twitter
                    </li>
                    <li class="footer-item">
                        About
                    </li>
                    <li class="footer-item">
                        Help
                    </li>
                    <li class="footer-item">
                        Terms
                    </li>
                    <li class="footer-item">
                        Privacy
                    </li>
                    <li class="footer-item">
                        Cookies
                    </li>
                    <li class="footer-item">
                        Ads
                    </li>
                    <li class="footer-item"> info</li>
                    <li class="footer-item"> Brand</li>
                    <li class="footer-item"> Blog</li>
                    <li class="footer-item"> Status</li>
                    <li class="footer-item"> Apps </li>
                    <li class="footer-item">Jobs</li>
                    <li class="footer-item"> Advertise </li>
                    <li class="footer-item">Media</li>
                    <li class="footer-item"> Developers </li>

                </ul>
            </div>
        </footer>

    </div>

    <div class="col-md-7">

        @RenderSection("ProfileHeader", false)

        @RenderSection("ListItems", false)
    </div>
</div>
@RenderBody()
@section Scripts{
    @RenderSection("Scripts", false)
    <script>
        $(function () {
            $("#myModal").draggable({ handle: ".modal-header" });
        });
    </script>

    <script>
        $(function () {
            $(".following-unfollow-btn").hover(function (event) {
                var $this = $(this);
                $this.find(".follow-text").toggle();
                $this.find(".unfollow-text").toggle();
            })
        });
    </script>

    <script src="~/js/deactivate_active_link.js"></script>

    <script src="~/js/validate_tweet_create_form.js"></script>
}