@using Microsoft.AspNet.Identity
@using TwitterCopy.Models;

@{
    Layout = "_Layout.cshtml";
}

<div class="row">

    <div class="col-md-4 sidebar">

        @RenderSection("NavLinks", false)

        @RenderSection("MiniProfile", false)

        @RenderSection("TweetToUser", false)

        @RenderSection("RandomUsers", false)

    </div>

    <div class="col-md-7">

        @RenderSection("ProfileHeader", false)
        
        @RenderSection("ListItems", false)
    </div>
</div>
@RenderBody()
@section Scripts{
    @RenderSection("Scripts", false)
    <script>
        $(function () {
            $("#myModal").draggable({ handle: ".modal-header" });
        });
    </script>

    <script>
        $(function () {
            $(".following-unfollow-btn").hover(function (event) {
                var $this = $(this);
                $this.find(".follow-text").toggle();
                $this.find(".unfollow-text").toggle();
            })
        });
    </script>

    <script src="~/js/deactivate_active_link.js"></script>

    <script>
        $(function () {
            $("#create-tweet .tweet").attr({ disabled: "disabled" });

            $("#tweetTextArea").on("keyup keypress", function () {
                $this = $(this);
                var statusTextLength = 140 - $this.val().length;
                if (statusTextLength < 140 && statusTextLength >= 0) {
                    $("#create-tweet .tweet").removeAttr("disabled");
                }
                else {
                    $("#create-tweet .tweet").attr({ disabled: "disabled" });
                }

                $(".tweet-counter").text(statusTextLength);

                if (statusTextLength < 0) {
                    $(".tweet-counter").css({color: "red"})
                } else {
                    $(".tweet-counter").css({ color: "black" })
                }
            });
        });
    </script>
}