@using TwitterCopy.Common.Extensions;
@using Microsoft.AspNet.Identity;
@model IEnumerable<TwitterCopy.Models.ApplicationUser>

@if (ViewBag.headerText != null)
{
    <div class="content-header">
        <h2>@ViewBag.headerText</h2>
    </div>
}
@foreach (var user in Model)
{
    <div class="content row list-item">
        <div class="pull-right">
            @if (user.DoesUserContainFollower(User.Identity.GetUserId()))
            {
                <a href="@Url.RouteUrl("Unfollow", new { id = user.Id })" class="btn following-unfollow-btn btn-primary">
                    <span class="button-text follow-text">
                        Following
                    </span>
                    <span class="button-text unfollow-text">
                        Unfollow
                    </span>
                </a>
            }
            else
            {
                <div class="follow-button">
                    @Html.RouteLink("Follow", "Follow", new { id = user.Id }, new { @class = "btn btn-follow" })
                </div>
            }
        </div>
        @Html.GenerateProfilePicture(user.UserName, new { @class = "profile-picture size48" })
        @*<img src="@Url.Action("UploadProfilePicture", "User", new { username = user.UserName })" class="profile-picture size48" alt="User Profile picture" />*@
        <div class="list-item-inner">
            <a href="@Url.Action("index", "user", new { username = user.UserName })" class="account-summary-small profile-link">
                <strong class="fullname-tweet">
                    @user.UserName
                </strong>
                <small class="metadata">
                    @@@user.UserName
                </small>
            </a>
            <p>@user.Bio</p>
        </div>
    </div>
}
 
